{%- if output_mode == "full" -%}
mcp_servers:
  - name: {{ server_id }}
    description: {{ description }}
    command: docker
    args:
      - run
      - --rm
      - -i
      - --network
      - host
{%- if env_vars %}
      - --env-file
      - {{ env_file }}
{%- endif %}
{%- for volume in volumes %}
      - -v
      - "{{ volume.source }}:{{ volume.target }}:{{ volume.mode }}"
{%- endfor %}
      - {{ image }}
{%- if container_args %}
{%- for arg in container_args %}
      - {{ arg }}
{%- endfor %}
{%- endif %}
{%- elif output_mode == "snippet" -%}
- name: {{ server_id }}
  description: {{ description }}
  command: docker
  args:
    - run
    - --rm
    - -i
    - --network
    - host
{%- if env_vars %}
    - --env-file
    - {{ env_file }}
{%- endif %}
{%- for volume in volumes %}
    - -v
    - "{{ volume.source }}:{{ volume.target }}:{{ volume.mode }}"
{%- endfor %}
    - {{ image }}
{%- if container_args %}
{%- for arg in container_args %}
    - {{ arg }}
{%- endfor %}
{%- endif %}
{%- else -%}
mcp_servers:
  - name: {{ server_id }}
    description: {{ description }}
    command: docker
    args:
      - run
      - --rm
      - -i
      - --network
      - host
{%- if env_vars %}
      - --env-file
      - {{ env_file }}
{%- endif %}
{%- for volume in volumes %}
      - -v
      - "{{ volume.source }}:{{ volume.target }}:{{ volume.mode }}"
{%- endfor %}
      - {{ image }}
{%- if container_args %}
{%- for arg in container_args %}
      - {{ arg }}
{%- endfor %}
{%- endif %}
{%- endif -%}
